@import 'colors';
@import 'fonts';

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border: 3px solid white;
  padding: 1rem 1.5rem;
  font-weight: bold;
  min-width: 84px;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background: white;
    color: black;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
