.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  min-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $secondary;
  transition: background-color 0.15s ease-in-out;
  color: $black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include text-block($size: 1.2rem, $weight: 600);

  &:hover,
  &:active,
  &:disabled {
    border: 2px solid $secondary;
    background-color: $black;
    color: $secondary;
  }

  &:disabled {
    opacity: 0.6;
    cursor: none;
  }

  &--big {
    padding-left: 3.175rem;
    padding-right: 3.175rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    @include text-block($size: 1.5rem, $weight: 600);
  }

  &--validation {
    margin-bottom: 5rem;
  }
}
