@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');

@mixin heading1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;

  @media screen and (min-width: 1080px) {
    font-size: 2.875rem;
  }
}

@mixin heading2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;

  @media screen and (min-width: 1080px) {
    font-size: 1.5rem;
  }
}

@mixin heading3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

@mixin footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

@mixin text-block($size: false, $weight: false) {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;

  @if $size {
    font-size: $size;
  }

  @if $weight {
    font-weight: $weight;
  }
}
