@function convert-to-percent($value, $context: $max) {
  @return ($value/$context) * 100%;
}

@function create-columns($amount, $gutter) {
  @return (100% / $amount)-$amount * convert-to-percent($gutter);
}

@mixin create-background-cover($imageUrl: false, $color: false, $linearGradient: false) {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @if $source {
    background-image: url($imageUrl);
  }

  @if $default-color {
    background-color: $color;
  }

  @if $linearGradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, $linearGradient),
      rgba(0, 0, 0, $linearGradient)
    );
  }
}

@mixin create-dropZone() {
  border-radius: 2rem;
  border: 2px solid $brand;
  margin: 1rem;
  width: 350px;
  height: 280px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 80%;

    img {
      width: 60%;
    }
  }
}
