@mixin create-background-cover($source: false) {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @if $source {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($source);
  }
}
