.wrapper__row--game-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item__board {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
}

.board__tile {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row__item--side-bar {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.item--btn-wrapper {
  display: flex;
}

.item--information {
  color: $brand;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
}

.board__figure {
  width: 3rem;
  height: 4.25rem;
}

.row__item--board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item--game-rules {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px dotted $white;
  border-radius: 2.5rem;
}

.item__content {
  text-align: left;
  &--title {
    font-size: 1.5rem;
  }
  &--rules {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0;
  }
}
