.game--wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
}

.tile {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dice {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.btn--wrapper {
  display: flex;
}

.board__figure {
  width: 3rem;
  height: 4.25rem;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tool-bar {
  width: 10%;
}

.tile {
  background-size: 3rem;
}

#tile-index-4 {
  @include create-background(
    $imageUrl: 'https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655734/game/trap1.svg'
  );
}

#tile-index-7 {
  @include create-background(
    $imageUrl: 'https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655734/game/trap2.svg'
  );
}

#tile-index-13 {
  @include create-background(
    $imageUrl: 'https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655734/game/trap3.svg'
  );
}

#tile-index-16 {
  @include create-background(
    $imageUrl: 'https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655734/game/trap4.svg'
  );
}

#tile-index-29 {
  @include create-background(
    $imageUrl: 'https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655734/game/trap5.svg'
  );
}

#tile-index-30 {
  @include create-background(
    $imageUrl: 'https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655734/game/throne.svg'
  );
}
