.game--wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
}

.tile {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dice {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.btn--wrapper {
  display: flex;
}

.board__figure {
  width: 3rem;
  height: 4.25rem;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tool-bar {
  width: 10%;
}
