header {
  width: 100%;
  color: $white;
  border-bottom: 1px solid $white;
  @include text-block($weight: 600);
}

.row {
  &__logo {
    background-image: url('https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575877298/game/t3k3iauo3phxgmsdzmwu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 17.875rem;
    height: 3rem;
    margin-top: 0.6875rem;
  }
  &__links--wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    a:link,
    a:visited {
      color: $white;
    }

    a:hover,
    a:active {
      color: $secondary;
    }
  }
  &--left {
    display: flex;

    li {
      padding-right: 1.3rem;
    }
  }
}
.links--left {
  @include flex;
}

.links__item {
  padding-right: 1.375rem;

  &--contact {
    font-weight: bold;
    border: 1px solid white;
    padding: 0.3rem 1rem;

    &:hover,
    &:active {
      border-color: $secondary;
    }
  }
}
