header {
  width: 100%;
  @include header-text;
  color: #d9d9d9;
}

.row {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  height: 100%;
  width: 100%;
}

.header-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $black;

  a:hover {
    color: $brand;
  }

  &__logo {
    background-image: url('https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655416/game/logo-small.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 2.375rem;
    height: 2.375rem;
    margin-top: 0.6875rem;
  }
  &__links--wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }
  &__links--left {
    display: flex;

    li {
      padding-right: 1.3rem;
    }
  }
  &__links--contact {
    font-weight: bold;
    border: 1px solid white;
    padding: 0.3rem 1rem;
  }
}
