@mixin create-background($imageUrl: false, $color: false, $linearGradient: false, $size: false) {
  background-color: black;
  background-repeat: no-repeat;
  background-size: center;
  background-position: center center;

  @if $imageUrl {
    background-image: url($imageUrl);
  }

  @if $color {
    background-color: $color;
  }

  @if $linearGradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, $linearGradient),
      rgba(0, 0, 0, $linearGradient)
    );
  }

  @if $size {
    background-size: $size;
  }
}
