.wrapper {
  max-width: $max;
  margin: 0 auto;
  @include flex-direction($value: column);
  @include flex-wrap;
  @include flex-center;

  &__row {
    width: 100%;
    @include flex;
    @include flex-wrap;
  }
}
