.wrapper {
  max-width: 72.5rem;
  margin: 0 auto;

  &__row {
    width: 100%;

    &--header-navigation {
      background-color: $black;
      @include flex;
      @include flex-direction(row);
    }

    &--copy-right {
      @include flex-center;
    }
  }
}
