@mixin vertical-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

@mixin horizontal-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 72.5rem;
}
