@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex-center-vertical {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@mixin create-heading($size: false, $colour: false, $weight: false, $transform: false) {
  font-family: 'Lora', serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $transform {
    text-transform: $transform;
  }
}

@mixin create-text-block($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: 'Open Sans', sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin create-background-cover($source: false) {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @if $source {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($source);
  }
}
