.cards {
  display: flex;
  justify-content: center;
  width: 95vw;
  height: 230px;
  border: 2px dotted blueviolet;
  border-radius: 2rem;
}

.card {
  width: 10%;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  color: black;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;

  h4,
  h5 {
    color: black;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.card:hover,
.card:focus-within {
  transform: translatey(-4rem);
}

.card:hover ~ .card,
.card:focus-within ~ .card {
  transform: 3rem;
}
