@import 'node_modules/bootstrap/scss/bootstrap';
@import 'colors';
@import 'mixins';
@import 'buttons';

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $black;
  color: $white;

  @include create-text-block;
}

a {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.coverWrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @include create-background-cover(
    $source:
      'https://res.cloudinary.com/dnkfgmzy1/image/upload/q_auto:good/v1574011164/game/wa7ak54wbtrhnvfihpqc.jpg'
  );
}

.coverWrapper__content {
  width: 90vw;
  height: 100vh;
  @include flex-center-vertical;
  @include margin-center;

  & > h1 {
    text-align: center;
    margin-bottom: 2rem;

    @include create-heading($size: 2.3rem, $colour: white, $weight: bold, $transform: uppercase);
  }

  & > h2 {
    text-align: center;
    @include create-heading($size: 2rem, $colour: white, $weight: bold);
  }

  & > h1 > span {
    display: block;
    margin-top: 1rem;
    border-top: solid 2px $white;
    border-bottom: solid 2px $white;
    @include create-heading($size: 3.5rem, $colour: white, $weight: bold);
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  & > a {
    margin-right: 1rem;
  }
}
