@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import 'colors';
@import 'buttons';
@import 'layout';
@import 'fonts';
@import 'functions';
@import 'select';
@import 'game';

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $black;
  color: $white;
  @include flexbox($direction: column);
  @include vertical-center;

  @include create-text-block;
}

ul > {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

h1 {
  @include create-heading($size: 2.3rem, $colour: $brand, $weight: bold);
}

h2 {
  @include create-heading($size: 1.8rem, $colour: $brand, $weight: bold);
}

.block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include vertical-center;

  &--welcome {
    @include create-background-cover(
      $source:
        'https://res.cloudinary.com/dnkfgmzy1/image/upload/q_auto:good/v1574011164/game/wa7ak54wbtrhnvfihpqc.jpg'
    );
  }

  &--intro {
    @include verticalSpacer($top: 1.5rem, $bottom: 1.2rem);
  }

  &--selection {
    display: flex;
    flex-direction: column;
    max-width: 1330px;
  }

  &__content {
    width: 60vw;
    height: 100vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title--small {
      text-align: center;
      margin-bottom: 2rem;
    }

    &__title--large {
      display: block;
      margin-top: 1rem;
      border-top: solid 2px $white;
      border-bottom: solid 2px $white;
      @include create-heading($size: 3.5rem, $colour: white, $weight: bold);
    }

    &__subTitle {
      text-align: center;
      margin-bottom: 2.1rem;
    }
  }
}
