.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.cta:hover,
.cta:active,
.cta:focus {
  text-decoration: none;
  opacity: 0.7;
}

.cta:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.cta--big {
  height: 3rem;
  width: 14rem;
  background: #d4af37;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
}

.cta--big:hover {
  color: #000000;
}

.cards {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 240px;
  border: 2px dotted blueviolet;
  border-radius: 2rem;
  padding: 0.875rem;
}

.card {
  width: 13%;
  background: white;
  padding: 2rem;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
  color: black;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
}

.card h4,
.card h5 {
  color: black;
}

.card ul {
  margin: 0;
  padding: 0;
}

.card:hover,
.card:focus-within {
  transform: translatey(-4rem);
}

.card:hover ~ .card,
.card:focus-within ~ .card {
  transform: 3rem;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 2.3rem;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block--welcome {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dnkfgmzy1/image/upload/q_auto:good/v1574011164/game/wa7ak54wbtrhnvfihpqc.jpg');
}

.block--intro {
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
}

.block--selection {
  display: flex;
  flex-direction: column;
  max-width: 1330px;
}

.block__content {
  width: 60vw;
  height: 100vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__content__title--small {
  text-align: center;
  margin-bottom: 2rem;
}

.block__content__title--large {
  display: block;
  margin-top: 1rem;
  border-top: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;
  font-family: 'Lora', serif;
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
}

.block__content__subTitle {
  text-align: center;
  margin-bottom: 2.1rem;
}

.game-wrapper {
  display: flex;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  width: 6rem;
  height: 5rem;
}

.dice {
  width: 120px;
  margin-left: 50px;
  margin-top: 500px;
}

#endZone1 {
  background: blueviolet;
  border-radius: 2rem;
  height: 13.785rem;
  margin: 1rem;
  width: 20vw;
  padding: 0.2rem;
}

#endZone1 div {
  width: 9.5rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
}

#endZone2 {
  background: blueviolet;
  border-radius: 2rem;
  height: 13.785rem;
  margin: 1rem;
  width: 20vw;
  padding: 0.2rem;
}

#endZone2 div {
  width: 9.5rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
}

#selectedArea {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
}
