@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');
.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1428rem;
  height: 2.5rem;
  padding-left: 3.375rem;
  padding-right: 3.375rem;
  background-color: #f5deb3;
  transition: background-color 0.15s ease-in-out;
  color: #000000;
}

.cta:hover,
.cta:active,
.cta:focus {
  border: 2px solid #f5deb3;
  background-color: #000000;
  color: #f5deb3;
}

header {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: #d9d9d9;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
}

header a:link {
  color: #fffafa;
}

header a:visited {
  color: #fffafa;
}

header a:hover {
  color: #fffafa;
}

header a:active {
  color: #fffafa;
}

.header-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

.header-navigation a:hover {
  color: #c99240;
}

.header-navigation__logo {
  background-image: url('https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655416/game/logo-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
  margin-top: 0.6875rem;
}

.header-navigation__links--wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.header-navigation__links--left {
  display: flex;
}

.header-navigation__links--left li {
  padding-right: 1.3rem;
}

.header-navigation__links--contact {
  font-weight: bold;
  border: 1px solid white;
  padding: 0.3rem 1rem;
}

#endZone1 {
  border-radius: 2rem;
  border: 2px solid #c99240;
  margin: 1rem;
  width: 350px;
  height: 280px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endZone1 div {
  width: 80%;
}

#endZone1 div img {
  width: 60%;
}

#endZone2 {
  border-radius: 2rem;
  border: 2px solid #c99240;
  margin: 1rem;
  width: 350px;
  height: 280px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endZone2 div {
  width: 80%;
}

#endZone2 div img {
  width: 60%;
}

#selectedArea {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.block__cards {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  border-radius: 2.5rem;
  margin-top: 2.8rem;
}

.block__cards__item {
  width: 20%;
  padding: 0.5rem;
  margin: 1rem;
  transition: 0.2s;
  color: #f5deb3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block__cards__item__image {
  width: 100%;
  height: 11.5625rem;
}

.block__cards__item:hover,
.block__cards__item :focus-within {
  transform: translatey(-1rem);
}

.block__cards__item:hover ~ .block__cards__item,
:focus-within ~ .block__cards__item {
  transform: 1rem;
}

.cta--validation {
  margin: 3.5rem auto;
}

.game--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 30rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.game__main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.game__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__sidebar--1 {
  background-color: green;
  flex-basis: 100%;
  flex: 1;
}

.game__sidebar--1:hover {
  opacity: 0.7;
}

.game__sidebar--2 {
  background-color: beige;
  flex-basis: 100%;
  flex: 1;
}

.game__sidebar--2:hover {
  opacity: 0.7;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.tile {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dice {
  width: 120px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn--wrapper {
  display: flex;
}

.board__figure {
  width: 3rem;
  height: 4.25rem;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000000;
  color: #d9d9d9;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.875rem;
  font-weight: bold;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

header {
  border-bottom: 1px solid #d9d9d9;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  opacity: 0.7;
  border-top: 1px solid #d9d9d9;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  height: 100%;
  width: 100%;
}

.block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block--hero {
  height: 83vh;
}

.block--intro h1 {
  color: #c99240;
  margin-bottom: 1rem;
}

.block__banner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.block__banner--child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  flex: 1;
}

.block__banner__right-image {
  height: 27.375rem;
}

.block__banner__large-logo {
  height: 296px;
  width: 100%;
}

.block__content {
  width: 60vw;
  height: 100vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__content__title--small {
  text-align: center;
  margin-bottom: 2rem;
}

.block__content__title--large {
  display: block;
  margin-top: 1rem;
  border-top: solid 2px #d9d9d9;
  border-bottom: solid 2px #d9d9d9;
}

.block__content__subTitle {
  text-align: center;
  margin-bottom: 2.1rem;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 35%;
  display: none;
  background-color: yellow;
  opacity: 0.8;
  text-align: center;
  width: 25vw;
}
