@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.cta:hover,
.cta:active,
.cta:focus {
  text-decoration: none;
  opacity: 0.7;
}

.cta:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.cta--default {
  height: 2rem;
  width: 6rem;
  background: #d4af37;
}

.cta--big {
  height: 3rem;
  width: 14rem;
  background: #d4af37;
}

.cta--big:hover {
  color: #000000;
}

header {
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}

.header-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #000000;
  color: white;
  margin-left: 140px;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.header-navigation__logo {
  background-image: url('https://res.cloudinary.com/dnkfgmzy1/image/upload/v1575655416/game/logo-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 3.5rem;
  width: 6rem;
  display: inline-block;
}

.header-navigation__links-wrapper {
  display: flex;
  flex-direction: row;
}

.header-navigation__links-wrapper li {
  padding-right: 1rem;
  color: #d9d9d9;
}

#endZone1 {
  background: #c99240;
  border-radius: 2rem;
  margin: 1rem;
  width: 350px;
  height: 280px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endZone1 div {
  width: 100%;
  height: 180px;
  margin: 0;
  padding: 0;
  color: black;
}

#endZone1 div img {
  width: 108px;
  height: 148px;
}

#endZone2 {
  background: #c99240;
  border-radius: 2rem;
  margin: 1rem;
  width: 350px;
  height: 280px;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#endZone2 div {
  width: 100%;
  height: 180px;
  margin: 0;
  padding: 0;
  color: black;
}

#endZone2 div img {
  width: 108px;
  height: 148px;
}

#selectedArea {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 1280px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 320px;
  border-radius: 2.5rem;
  padding: 2.25rem;
  margin-top: 1rem;
}

.card {
  width: 20%;
  padding: 0.5rem;
  margin: 1rem;
  transition: 0.2s;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card:hover,
.card:focus-within {
  transform: translatey(-1rem);
}

.card:hover ~ .card,
.card:focus-within ~ .card {
  transform: 1rem;
}

.card__image {
  width: 100%;
  height: 230px;
}

.cta--validation {
  margin: 3.5rem auto;
}

.game--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 30rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.game__main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.game__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game__sidebar--1 {
  background-color: green;
  flex-basis: 100%;
  flex: 1;
}

.game__sidebar--1:hover {
  opacity: 0.7;
}

.game__sidebar--2 {
  background-color: beige;
  flex-basis: 100%;
  flex: 1;
}

.game__sidebar--2:hover {
  opacity: 0.7;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.tile {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dice {
  width: 120px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn--wrapper {
  display: flex;
}

.board__figure {
  width: 3rem;
  height: 4.25rem;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  width: 1160px;
  padding: 0;
  margin: 0;
  background: #000000;
  color: #d9d9d9;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

a:link {
  color: #fffafa;
}

/* unvisited link */
a:visited {
  color: #fffafa;
}

/* visited link */
a:hover {
  color: #fffafa;
}

/* mouse over link */
a:active {
  color: #fffafa;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.875rem;
  font-weight: bold;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
}

.block {
  width: 100%;
  height: 100%;
}

.block--welcome {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://res.cloudinary.com/dnkfgmzy1/image/upload/q_auto:good/v1574011164/game/wa7ak54wbtrhnvfihpqc.jpg');
}

.block--selection {
  display: flex;
  flex-direction: column;
  max-width: 1330px;
}

.block__content {
  width: 60vw;
  height: 100vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__content__title--small {
  text-align: center;
  margin-bottom: 2rem;
}

.block__content__title--large {
  display: block;
  margin-top: 1rem;
  border-top: solid 2px #d9d9d9;
  border-bottom: solid 2px #d9d9d9;
}

.block__content__subTitle {
  text-align: center;
  margin-bottom: 2.1rem;
}
